@use '@carbon/styles/scss/config' with (
  $use-akamai-cdn: true
);
@use '@carbon/react/scss/reset';
@use '@carbon/react/scss/grid';
@use '@carbon/react/scss/type';
@use '@carbon/react/scss/themes';
@use '@carbon/react/scss/theme' as theme with (
  $theme: themes.$g100
);
@use '@carbon/react';
@use '@carbon/react/scss/breakpoint' as *;

:root {
  @include theme.theme();
}

html,
body {
  background: var(--cds-background);
  color: var(--cds-text-primary);
}

.cds--side-nav ~ .cds--content {
  margin-inline-start: 0;

  @include breakpoint('lg') {
    margin-inline-start: 16rem;
  }
}
